table
{
    height: auto;
    width: 80%;
    text-align: center  ;
}
th,td
{
    padding: 10px 15px;
    border: solid 1px rgb(159, 159, 159);
}
tr:hover
{
    background-color: rgb(174, 240, 240);
}
th:hover, td:hover{
    background-color: rgb(66, 255, 255);
}