* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(./img/360_F_994375948_gfZBYvnkWdLly78GgBmEug0iDhRERNem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 300px;
    background-color: #7f677050;
    width: 50%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    border-radius: 10px;

}

.tax {
    margin-top: 30px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    gap: 1vh;
    border-radius: 25px;
    padding: 20px;
    width: 300px;
    transition: all ease-in-out 0.6s;
}

input {
    border: none;
    height: 40px;
    width: 100%;
    outline: none;


}

.tax:hover {
    width: 90%;

    border: 1px solid rgb(116, 116, 116);


}

i {
    border-right: 1px solid rgb(129, 128, 128);
    padding-right: 5px;
}