* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    height: auto;
    width: 100%;
}
.main
{
    border: 1px solid black;
    height: 500px;
    width: 100%;
}
.header
{
    background-color: #FF7F51;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cantar
{
    height: 300px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
}
.left
{
    height: 300px;
    width: 20%;
    background-color: rgb(101, 82, 82);
     display: flex;
    justify-content: center;
    

}
.midal{
    height: 300px;
    width: 60%;
    background-color: rgb(147, 69, 69);
    display: flex;
    justify-content: center;
    padding: 30px;

}
.right
{
    height: 300px;
    width: 20%;
    background-color: rgb(221, 78, 78);
    display: flex;
    justify-content: center;
}
.footer
{
    height: 128px;
    width: 100%;
    background-color: rgb(113, 252, 113);
    display: flex;
    align-items: center;
    justify-content: center;
}
