* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    background-color: yellow;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 900px)
{
    .main{
        display: none;
    }
}