* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
}

.headr {
    height: 120px;
    width: 100%;
    gap: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    height: 50px;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 35px;

}

.navbar a {
    text-decoration: none;
    align-items: center;
    color: white;
}

.section {
    height: 750px;
    width: 100%;
    background-color: #F1F1F1;
    display: flex;
    gap: 4vh;
    padding: 10px;
}

.left {
    width: 72%;

}

.right {
    height: 100%;
    width: 24%;
}

.sec1 {
    height: 350px;
    width: 100%;
    background-color: #ffff;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 9px;
}

.sec3 {

    padding: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
    height: 200px;
    margin: 10px;

    width: 100%;
    background-color: #ffff;

}

.sec4 {
    height: 270px;
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
}

.img1 {
    height: 150px;
    width: 100%;
    background-color: #AAAAAA;
    font-size: 40px;
    padding: 10px;

}

.img2 {
    height: 100px;
    width: 100%;
    background-color: #AAAAAA;
    padding: 10px;


}

.img3 {
    height: 200px;
    width: 100%;
    background-color: #AAAAAA;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;

}

.sec5 {
    height: 90px;
    margin: 10px;

    width: 100%;
    padding: 10px;
    background-color: #ffff;
}

.footer {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AAAAAA;
}

@media screen and (max-width:700px) {
    .section {
        flex-direction: column;
        height: auto;
    }
   .sec1 , .sec3 ,.sec4 ,.sec5{
    width: 96%;
   }
   
    .left {
        width: 100%;
    }

    .right {
        width: 100%;

    }

}